<div>
  <% @posts.each do |post| %>
    <div class="row">
      <div class="row">
        <div class="col-md-1 vote-controls-<%= post.id %>">
          <%= post.upvote_button(current_account, self) %>
          <%= post.downvote_button(current_account, self) %>
        </div>
        <div class="col-md-11">
          <p><%= link_to  post.title, post.link, target: "_blank" %></p>
        </div>
      </div>
      <%= post.comment_status(self) %>
      <p>Posted by <%= post.account.username %></p>
    </div>
  <% end %>
<div>
